### Builder
target/
build/
out/
gen/
.gradle/
zuul/bin/
zuul/mvnw
zuul/.mvn/
local.properties
.classpath
.project
.settings
.metadata

### Eclipse
.settings/
.project
.classpath
.mymetadata

### Package Files
*.jar
*.war
*.ear

### Other
.DS_Store
*.log
*.xml
*.bak
*.bat
*.xsd
*.cmd